.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

button {
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #4A306D;
    color: white;
    font-weight: bold;
    font-size: x-large;
    margin: 25px auto;

    &:hover {
    background-color: #4a306df0; // Darker shade of primary color
    translate: -2px -2px;
    }

    &:active {
      translate: 2px 2px;
    }

}


