button {
    margin-bottom: 15px;
    width: 260px;
}

mat-card {
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-card-content {
    p {
        span {
            font-weight: bold;
        }
    }
}

mat-card-actions button {
    margin-top: 5px
}