@if(order(); as order) {
<mat-card appearance="outlined">
    <div>
        <mat-card-header>
            <mat-card-title>{{order.orderName}}</mat-card-title>
            <mat-card-subtitle>Broj trebovanja: {{order.orderNo}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Datum naloga: {{order.orderDate | date: 'dd MMM yyyy'}}</p>
            <p>Datum isporuke: {{order.deliveryDate | date: 'dd MMM yyyy'}}</p>
            <p>Realan datum isporuke: {{order.deliveryDateFromProduction | date: 'dd MMM yyyy'}}</p>
        </mat-card-content>
    </div>
    <mat-card-actions>
        <button class="add" matButton="tonal" color="primary" (click)="addDeliveryDate(order.id)">
            Unesi realan datum isporuke
        </button>
        <button class="add" matButton="tonal" color="primary" (click)="goToSupplyList(order.id)">
            Potrebno repromaterijala
        </button>
        <button class="add" matButton="tonal" color="primary" (click)="addOrderItem()">
            Dodaj artikal
        </button>
    </mat-card-actions>
</mat-card>
}

<app-order-items-table [orderItems]="orderItems()" (orderItemUpdated)="onOrderItemUpdated($event)"
    (orderItemDeleted)="onOrderItemDeleted($event)" />