button {
    margin-bottom: 15px;
}

mat-card {
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-card-content, mat-card-header {

}

mat-card-actions button {
    margin-top: 5px
}